@mixin focus-ring {
  outline: 2px solid var(--color-focus);
  outline-offset: 3px;
}

@mixin container {
  width: 100%;
  margin-inline: 0;
  padding-inline: var(--container-gutter);
}

@mixin mobile {
  @media (width <= 767px) {
    @content;
  }
}
